DISCORD_TOKEN=discord_bot_token
DISCORD_CLIENT_ID=discord_application_client_id
MONGODB_URI=mongodb://127.0.0.1:27017/stratis

# Optional for fast command deployment in one guild during development
DISCORD_GUILD_ID=
STAFF_GUILD_ID=
STAFF_ROLE_ID=
GUILD_LOG_CHANNEL_ID=
AUTH_EVAL_USER_ID=

# Optional Roblox .ROBLOSECURITY cookie for extra endpoints
ROBLOX_COOKIE=

BOT_INVITE_PERMISSIONS=274878221376
BAN_USER_MESSAGE=You are banned from using this bot.
BAN_SERVER_MESSAGE=This server is banned from using this bot.

# Emojis Setup format: <:name:id> or unicode)
EMOJI_PREMIUM=💎
EMOJI_FRIENDSHIP_BADGE=🫂
EMOJI_ONLINE=🟢
EMOJI_OFFLINE=⚫
EMOJI_STUDIO=🛠️
EMOJI_PLAYING=🎮
